.image_about {
  background-image: url(../images/about_us_rainydays.jpg);
  height: 30vh;
}

.Image_about_2 {
  background-image: url(../images/About_us_2.jpg);
  height: 30vh;
}

/* Media queries ------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 540px) {
}
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 880px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1690px) {
}
