footer {
  background-color: rgba(205, 208, 212, 0.038);
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

footer,
.copyright {
  font-size: 11px;
  letter-spacing: 0.5px;
}

footer .footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer_container div li {
  list-style: none;
}

.contact_info li,
.soMe_links ul {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.contact_info i,
.soMe_links i {
  font-size: 20px;
  padding: 10px;
  color: rgba(205, 208, 212, 1);
}

.soMe_links {
  align-self: center;
}

.soMe_links i {
  padding: 20px 30px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 20px;
}

.soMe_links li {
  padding: 2px;
  justify-self: center;
}

/* Media queries ------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 600px) {
  footer {
    justify-content: space-between;
  }

  footer .footer_container {
    flex-direction: row;
  }

  .soMe_links {
    margin-left: 100px;
    align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .soMe_links {
    margin-left: 200px;
  }
}
@media screen and (min-width: 880px) {
  .soMe_links {
    margin-left: 300px;
  }

  .soMe_links i {
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .soMe_links {
    margin-left: 450px;
  }

  .soMe_links i {
    font-size: 28px;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    justify-content: space-around;
  }

  .soMe_links i {
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1690px) {
}

@media screen and (min-width: 1720px) {
}

@media screen and (min-width: 1750px) {
}
