#reseption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.reseption_image {
  background-image: url(../images/index_ice_climbing.jpg);
}

.reseption_text {
  text-align: center;
}

/* Media queries ------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 540px) {
}
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 880px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1690px) {
}
