#reseption,
#call_to_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.reseption_image {
  background-image: url(../images/index_reseption_image_copy.jpg);
  height: 50vh;
}

.reseption_text,
.cta_text,
.sale_headline {
  text-align: center;
  line-height: 30px;
}

.cta_image {
  background-image: url(../images/index_cta_image.jpg);
  height: 30vh;
}

.cta_button {
  border-radius: 6px;
  padding: 4% 8%;
  margin: 10px;
  font-size: 20px;
}

#call_to_action {
  box-shadow: 0px 1px rgba(205, 208, 212, 0.081);
  padding: 40px 0px;
}

.sale_headline {
}

/* Media queries ------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 540px) {
}
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 880px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1690px) {
}
