.hamburger {
  position: fixed;
  z-index: 100;
  top: 30px;
  right: 20px;
  padding: 4px;
  border: rgba(5, 19, 30, 1) solid 2px;
  background-color: rgba(5, 19, 30, 1);
  color: rgba(205, 208, 212, 1);
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-200%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 99;
  background: rgba(5, 19, 30, 1);
  border: rgba(205, 208, 212, 1) solid 1px;
  color: rgba(205, 208, 212, 1);
  list-style: none;
  padding-top: 30px;
}

.showMenu {
  transform: translateY(0);
}

#navigation_icons {
  display: none;
}

.logo {
  padding-top: 20px;
  padding-left: 30px;
  max-width: 250px;
  width: 100%;
  margin: auto;
}

.menu li a {
  text-decoration: none;
  font-size: 25px;
}

.menu li a:hover {
  color: rgba(97, 104, 52, 1);
}

li {
  padding: 20px 50px;
}

.menuIcon,
.closeIcon {
  font-size: 28px;
}

/* Media queries ------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 480px) {
  .logo {
    max-width: 300px;
    padding-left: 50px;
  }
}

@media screen and (min-width: 540px) {
}
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 880px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1690px) {
}
