h1,
h2,
.product_price {
  letter-spacing: 2px;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-size: 16px;
  line-height: 30px;
}

#jackets_container {
  display: grid;
  grid-template-columns: 1fr;
}

.product_image {
  max-width: 100%;
  height: 40vh;
  filter: opacity(80%);
}

.jacket {
  text-align: center;
  background-color: rgba(205, 208, 212, 0.038);
  padding: 20px;
  margin: 10px;
}

.small {
  border-radius: 4px;
  padding: 8px 20px;
}

.on_sale {
  text-decoration: line-through;
  padding-left: 20px;
  color: slategrey;
}

.button_link {
  color: rgba(205, 208, 212, 1);
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 4px;
}

.product_price {
  font-size: 18px;
}

/* Media queries ------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 480px) {
  .product_image {
    height: 45vh;
  }
}

@media screen and (min-width: 540px) {
}

@media screen and (min-width: 600px) {
  #jackets_container {
    grid-template-columns: 1fr 1fr;
  }

  .product_image {
    height: 30vh;
  }
}

@media screen and (min-width: 768px) {
  .product_image {
    height: 34vh;
  }
}

@media screen and (min-width: 880px) {
  #jackets_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product_image {
    height: 32vh;
  }
}

@media screen and (min-width: 1024px) {
  .product_image {
    height: 34vh;
  }
}

@media screen and (min-width: 1280px) {
  #jackets_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .product_image {
    height: 26vh;
  }
}
@media screen and (min-width: 1440px) {
  .product_image {
    height: 30vh;
  }
}
@media screen and (min-width: 1690px) {
  .product_image {
    height: 32vh;
  }
}

@media screen and (min-width: 1740px) {
  .product_image {
    height: 30vh;
  }
}

@media screen and (min-width: 1900px) {
  .product_image {
    height: 26vh;
  }
}

@media screen and (min-width: 2000px) {
  .product_image {
    height: 28vh;
  }
}

@media screen and (min-width: 2400px) {
  .product_image {
    height: 30vh;
  }
}
