/* Sections & containers ------------------------------------------------------------------------------------*/
.product_page {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  padding: 20px;
  margin: 10px;
}

#single_jacket_container {
  background-color: rgba(205, 208, 212, 0.038);
  text-align: center;
}

.single_product_details {
  margin: 30px;
}

.select_container {
  margin-top: 50px;
}

/* Product ------------------------------------------------------------------------------------*/

.product_detail_image {
  height: 44vh;
  filter: opacity(80%);
  margin-top: 20px;
  margin-bottom: auto;
}

.product_name {
  font-family: "Montserrat", "sans-serif", "verdana";
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 40px;
}

.product_description {
  text-align: left;
  letter-spacing: 1px;
  line-height: 40px;
  margin-top: 30px;
}

.product_price {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: auto;
}

.add_to_bag {
  border-radius: 6px;
  padding: 20px 64px;
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 25px;
  justify-self: center;
}

#select_size,
#quantity {
  background-color: rgba(5, 19, 30, 1);
  border: 2px solid rgba(205, 208, 212, 0.081);
  border-radius: 6px;
  font-size: 16px;
  color: rgba(205, 208, 212, 1);
  text-align: center;
  width: 80px;
  height: 55px;
}

#select_size {
  margin-top: 7px;
}

label {
  display: none;
}

/* Icons --------------------------------------------------------------------------------------*/

.icons {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(205, 208, 212, 0.081);
}

.fa-droplet,
.fa-person-hiking,
.fa-wind {
  padding-left: 20px;
  font-size: 20px;
  color: slategrey;
}

/* Media queries ------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 480px) {
  .product_detail_image {
    height: 46vh;
  }
}

@media screen and (min-width: 540px) {
  .product_detail_image {
    height: 50vh;
  }
  .product_description {
    line-height: 45px;
  }

 
}

@media screen and (min-width: 600px) {
  .product_description {
    line-height: 50px;
  }
  .product_detail_image {
    height: 52vh;
  }
}

@media screen and (min-width: 768px) {
  .product_page {
    grid-template-columns: 1fr 1fr; 
  }

  #single_jacket_container {
    grid-column: 1; /
  }

  .single_product_details {
    grid-column: 2;
    margin: 35px;
  }

  .product_detail_image {
    height: 34vh;
  }

}

@media screen and (min-width: 880px) {
  
  .product_detail_image {
    height: 44vh;
  }
  .product_price {
    margin-top: 45px;
  }
}

@media screen and (min-width: 1024px) {

  .product_detail_image {
    height: 46vh;
  }
  .product_price {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1280px) {

  .product_detail_image {
    height: 56vh;
  }

  .single_product_details {
    margin-top: 200px;
    margin-left: 80px;
    
  }

  .product_price {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .product_detail_image {
    height: 58vh;
   
  }

  .product_price {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1690px) {
  .product_detail_image {
    height: 60vh;
   
  }

  .single_product_details {
    margin-left: 130px;
  }

  .product_price {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1740px) {
  .product_detail_image {
    height: 62vh;
   
  }
}


@media screen and (min-width: 2400px) {
  .product_detail_image {
    height: 72vh;
   
  }
}
